
// COLOR FROM ASSETS PANEL 
$color_white: white;
$color_red_7: rgba(168,17,39,255);
$color_red_8: rgba(80,5,14,255);
$color_red_9: rgba(28,0,4,255);
$color_red_6: rgba(217,33,60,255);
$color_red_5: rgba(245,59,86,255);
$color_red_4: rgba(248,94,117,255);
$color_red_3: rgba(252,142,158,255);
$color_red_2: rgba(255,216,221,255);
$color_red_1: rgba(255,247,248,255);
$color_purple_10: rgba(24,16,34,255);
$color_purple_9: rgba(48,36,64,255);
$color_purple_7: rgba(134,101,154,255);
$color_purple_8: rgba(82,55,98,255);
$color_purple_6: rgba(177,139,199,255);
$color_purple_5: rgba(203,167,224,255);
$color_purple_4: rgba(232,198,252,255);
$color_purple_3: rgba(242,226,252,255);
$color_purple_2: rgba(252,250,255,255);
$color_purple_1: rgba(254,253,255,255);
$color_green_9: rgba(1,23,2,255);
$color_green_8: rgba(7,52,10,255);
$color_green_5: rgba(46,178,56,255);
$color_green_6: rgba(37,128,44,255);
$color_green_7: rgba(22,93,27,255);
$color_green_4: rgba(91,222,129,255);
$color_green_3: rgba(153,254,182,255);
$color_green_2: rgba(230,255,238,255);
$color_green_1: rgba(250,255,252,255);
$color_gold_3: rgba(31,26,4,255);
$color_gold_2: rgba(250,208,34,255);
$color_silber_2: rgba(204,204,204,255);
$color_silber_3: rgba(31,31,31,255);
$color_gold_1: rgba(255,241,181,255);
$color_silber_1: rgba(247,247,247,255);
$color_bronze_1: rgba(252,239,229,255);
$color_bronze_2: rgba(237,198,170,255);
$color_bronze_3: rgba(34,21,11,255);
$color_assets_38: rgba(34,128,41,255);
