@import 'colors', 'texts';

// defining commonly used variables

$btn-border-radius-big: 13px;
$btn-border-radius-small: 10px;
$btn-border-radius-tiny: 8px;

$border-radius-big: 40px;
$border-radius-medium: 19px;
$border-radius-small: 13px;

$border-width: 3px;


